body {

}

header {
    
}

.logo {

}

h1 {
    /* Get schooled */
    position: absolute;
    height: 151px;
    left: 26.18%;
    right: 26.32%;
    top: calc(50% - 151px/2 - 251px);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 151px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}
