body {
    font-family: (Source Sans Pro), sans-serif;
    background-color: #FFF;
    margin: 0px;
    padding: 0px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/home/woodsontd/holbertonschool-web-development/css_advanced/images/backgroundlady.png");
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 170px;
    box-sizing: border-box;
}

.logo {

}

h1 {
    /* Get schooled */
    position: absolute;
    height: 151px;
    left: 26.18%;
    right: 26.32%;
    top: calc(50% - 151px/2 - 251px);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 151px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.background {
    position: absolute;
    width: 1440px;
    height: 1093px;
    left: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
